.contenedorEventos,
h2 {
    text-transform: inherit;
    font-size: 18px;
    color: $color-grisoscuro;
    padding: 15px;
    text-align: center;
    margin-inline: 0;
}

.imgEventos,
h2 {
    width: 100%;
    display: block;
    height: auto;
    margin-inline: 0;
}