/******Responsive*******/

@media (max-width:1023) {
    .principio {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .contenedorDiseñologo {
        font-size: 4rem;
        margin: 6vh;
        font-size: inherit;
    }

    .contenedorDiseñologo {
        grid-template-columns: 1fr 1fr;
    }

    .contenedorEventos {
        text-align: center;
        flex-direction: column;
        height: auto;
    }

    .contenedorEventos {
        margin: 6vh;
        font-size: 4rem;
        font-size: inherit;
        flex-direction: column;
    }

    .footerContenido {
        flex-direction: column;
        text-align: center;
    }
}