$color-azuloscuro: #00008b;
$color-gris: #a9a9a9;
$color-negro: #000000;
$color-blanco: #fffafa;
$color-grisclaro: #808080;
$color-blancoclaro: #f0f8ff;
$color-celeste: #4682b4;
$color_celesteclaro: #6495ed;
$color-grisoscuro: #696969;
$color-azul: #0000ff;